<div class="menu_box">
		<div class="nav_menu">
			<ul class="menu_list">
				<a href="#"><li class="menu_item menu_item_selected">HOME</li></a>
				<a href="#"><li class="menu_item">DEMO</li></a>
				<a href="#"><li class="menu_item">FORUM</li></a>
				<a href="#"><li class="menu_item">PRODUCTS</li></a>
				<a href="#"><li class="menu_item">DOWNLOADS</li></a>
				<a href="#"><li class="menu_item">SIGN-IN</li></a>
			</ul>
		</div>
</div>