.comments-box {
  border: solid 5px #ff2bf1;
  border-radius: 5px;
  margin:5%;
  width:50%;
  height:300px;
  float:left;
}

.comments-box-inner {

}

.comment-username {
  border:2px solid red;
  padding:10px;
  margin:2%;
}

.comment-content {
  border:2px solid blue;
  margin:2%;
  padding:10px;
  height:100%;

}

.comments-form {

}
