.demo-outer-box {
  position:relative;
  background: #40003b;
  color: #ff99df;
  font-size: 20px;
  line-height: 1.2;
  height:650px;
  max-width:60%;
  margin:auto;
  font-family: 'DM Mono';
  text-shadow: 0 0 5px purple, 0 0 10px purple, 0 0 15px purple, 0 0 40px #ff00aa, 0 0 70px #ff00aa;
}

.demo-outer-screen {
  background-color: transparent;
  border-radius: 2rem;
  border: 1rem solid;
  border-bottom-color: #121212;
  border-left-color: #080808;
  border-right-color: #080808;
  border-top-color: #020202;
  box-shadow:
    inset 0 0 18rem black,
    inset 0 0 3rem black,
    0 0 10rem black;
  height: 96%;
  position: relative;
  max-width: 96%;
}

.demo-inner-screen {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 40%, rgba(0, 0, 0, 0.25) 40%);
  background-size: 100% 6px, 8px 100%;
}

.animate {
  border-right: solid 3px pink;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
  animation: animated-text 1s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

.console {
  white-space: normal;
  overflow: visible;
  font-size: 1rem;
  animation: output-console 0.5s steps(29,end) 0s 1 normal both;
             /*animated-cursor 600ms steps(29,end) infinite;*/
}

.fade-in {
  animation: fade-in-text 1s steps(29,end) 2.5s 1 normal both;
}

.welcome-text {
  opacity:1;
  word-wrap: break-word;
}

.demo-input-form {

  color: #ff99df;
  font-family: 'DM Mono';
  border: solid 2px #ff99df;
  border-radius: 3px;
  background-color: purple;
  font-size:1rem;
  bottom:10px;
  width:99%;
  height:35px;
  position:absolute;
  z-index:99;
  box-shadow: inset 0 0 3rem black,
      inset 0 0 2rem black,
      0 0 3rem black;
  text-shadow: 0 0 5px purple, 0 0 10px purple, 0 0 15px purple, 0 0 40px #ff00aa, 0 0 70px #ff00aa;
}

@keyframes animated-text {
  from{width: 0;}
  to{width: 180px;}
}

@keyframes output-console {
  from{width: 0;}
  to{width: 99%;}
}

@keyframes animated-cursor{
  from{border-right-color: pink;}
  to{border-right-color: transparent;}
}

@keyframes fade-in-text {
  from{opacity:0;}
  to{opacity:1;}
}

@media only screen and (max-width: 1000px) {
  .demo-outer-box {
    max-width:97%;
  }
}
