.category-box {
  display:inline-block;
  float: left;
  border: solid 5px #ff2bf1;
  border-radius: 5px;
  padding:4%;
  margin:4%;
  height:20%;
  width:20%;
  max-width:250px;
  min-width:200px;
  box-shadow: inset 0 0 2rem purple,
      inset 0 0 1rem purple,
      0 0 2rem black;
  transition:height 2s, width 2s, box-shadow 0.5s;
}

.category-box:hover {
    box-shadow: inset 0 0 2rem blue,
    inset 0 0 0.5rem blue,
    0 0 2rem blue;
    transition: box-shadow 0.7s;
}

.category-name {
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.category-description {

}

.downloads-box {
  border: solid 5px #ff2bf1;
  border-radius: 5px;
  margin:5%;
  width:50%;
  max-width: 300px;
  height:50%;
  box-shadow: inset 0 0 2rem purple,
      inset 0 0 1rem purple,
      0 0 2rem black;
}

.downloads-name {
  padding: 15px;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.downloads-container {
  margin-left:auto;
  margin-right:auto;
}

.downloads-description {

}

.downloads-category {

}

.downloads-price {

}

.downloads-image {

}

.dropbtn {
  border: solid 5px #ff2bf1;
  border-radius: 5px;
  color: #e854ff;
  padding:25px;
  font-size: 20px;
  cursor: pointer;
  background: black;
  text-shadow: 0 0 5px purple, 0 0 10px purple,
  0 0 15px purple, 0 0 40px #ff00aa, 0 0 70px #ff00aa;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: black;
  box-shadow: inset 0 0 2rem blue,
  inset 0 0 0.5rem blue,
  0 0 2rem blue;
  transition: box-shadow 0.7s;
  position: relative;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
  left:10%;
}

.dropdown-content {
  color: #e854ff;
  text-shadow: 0 0 5px purple, 0 0 10px purple,
  0 0 15px purple, 0 0 40px #ff00aa, 0 0 70px #ff00aa;
  display: none;
  position: absolute;
  background-color: black;
	box-shadow: inset 0 0 5rem black,
    inset 0 0 2rem black,
    0 0 5rem black;
  min-width: 160px;
  overflow: auto;
  color:black;
  transition: background-color 1s;
  z-index: 1;
}

.dropdown-content a {
  color: #e854ff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  box-shadow: inset 0 0 2rem blue,
  inset 0 0 0.5rem blue,
  0 0 2rem blue;
  transition: box-shadow 0.7s;
}

.dropdown:hover .dropdown-content {
  text-shadow: 0 0 5px purple, 0 0 10px purple,
  0 0 15px purple, 0 0 40px #ff00aa, 0 0 70px #ff00aa;
  display: block;
  box-shadow: inset 0 0 2rem blue,
  inset 0 0 0.5rem blue,
  0 0 2rem blue;
  transition: box-shadow 0.7s;
}

.dropdown:hover .dropbtn {
  background-color: black;
}

.form-submit {
  border: solid 5px #ff2bf1;
  border-radius: 5px;
  color: #e854ff;
  padding:25px;
  font-size: 20px;
  cursor: pointer;
  background: black;
  text-shadow: 0 0 5px purple, 0 0 10px purple,
  0 0 15px purple, 0 0 40px #ff00aa, 0 0 70px #ff00aa;
  position: relative;
  display: inline-block;
  padding:25px;
}

.form-submit:hover {
  background-color: black;
  box-shadow: inset 0 0 2rem blue,
  inset 0 0 0.5rem blue,
  0 0 2rem blue;
  transition: box-shadow 0.7s;
  position: relative;
  display: inline-block;
}

.basketbtn {
  border: solid 5px #ff2bf1;
  border-radius: 5px;
  color: #e854ff;
  padding:25px;
  font-size: 20px;
  cursor: pointer;
  background: black;
  text-shadow: 0 0 5px purple, 0 0 10px purple,
  0 0 15px purple, 0 0 40px #ff00aa, 0 0 70px #ff00aa;
  position: relative;
  display: inline-block;
  right:10%;
  padding:25px;
}

.basketbtn:hover {
  background-color: black;
  box-shadow: inset 0 0 2rem blue,
  inset 0 0 0.5rem blue,
  0 0 2rem blue;
  transition: box-shadow 0.7s;
  position: relative;
  display: inline-block;
}
