.category-box {
  border: solid 5px #ff2bf1;
  border-radius: 5px;
  padding:4%;
  margin:4%;
  height:20%;
  width:20%;
  max-width:250px;
  min-width:250px;
  float: left;
  box-shadow: inset 0 0 2rem purple,
      inset 0 0 1rem purple,
      0 0 2rem black;
  transition:height 2s, width 2s, box-shadow 0.5s;
}

.category-box:hover {
    box-shadow: inset 0 0 2rem blue,
    inset 0 0 0.5rem blue,
    0 0 2rem blue;
    transition: box-shadow 0.7s;
}

.category-name {
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.category-description {

}

.downloads-box {

}

.downloads-name {

}

.downloads-description {

}

.downloads-category {

}

.downloads-price {

}

.downloads-image {

}
