body {
	background: black;
	color:white;
	font-family: 'Aldrich';
}

a {
	text-decoration: none;
}

.error-message {
	color:red;
}

/*seperete css file for this*/
.quote-container {
	position:relative;
	color:yellow;
	margin-top:750px;
	margin-left:250px;
}

.quote {
	font-size:4em;
	font-family: "Caveat";
	transform: rotate(-15deg);
}

/*footer partial*/
.copywrite {
	color:white;
	background-color:black;
	width:100%;
	height:150px;
	margin-top:-16px;
}

.legal_links {
	list-style-type: none;
	float: right;
}

/*main css*/
.title-box {
	background:white;
	padding:150px;
	margin-top:50px;
	margin-bottom:50px;
}

.title-main {
	color: hotpink;
	font-size: 300px;
	margin: auto;
	text-align:center;

}

.image_frame {
	border:solid red 10px;
	position: absolute;
}

.page_title_text {
	display: block;
	position: absolute;
	max-height: 100%;
	max-width:100%;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}

.main-title-box {
	background-image: url("../images/background.png");

	background-size: cover;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	position:relative;
	max-width: 100%;
	max-height: 100%;
	width:100%;
	height:1000px;
}

.menu_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
	background-color:#1f0036;
	color:#672bb7;
	padding:25px;
	margin-top:15px;
	text-align:center;
	font-family: 'Allerta Stencil'; /*override base font*/
}

/*for navbar*/
.menu_link { /*remove ugly underlines from links*/
	text-decoration: none;
}

.menu_item {
	color:#e854ff;
	font-size: 20px;
	display:inline;
	padding:25px;
	margin:-2px;
	margin-left:-7px;
	border-right:5px solid black;
	border-left:5px solid black;
	text-shadow: 0 0 5px purple, 0 0 10px purple, 0 0 15px purple, 0 0 40px #ff00aa, 0 0 70px #ff00aa;
}

.menu_item_selected {
	background-color:#ff2bf1;
	color:black;
	text-shadow: none;
	box-shadow: inset 0 0 5rem black,
    inset 0 0 2rem black,
    0 0 5rem black;
	transition: background-color 1s;
}

.menu_item:hover {
	background-color:#ff2bf1;
	box-shadow: inset 0 0 5rem black,
    inset 0 0 2rem black,
    0 0 5rem black;
	color:black;
	text-shadow: none;
	transition: background-color 1s;

}

/*icons in navbar partial*/
.icons {
	width:auto;
	height:50%;
	position:relative;

}

.content-box {
	color:white;
	width:100%;
	height:750px;
	padding-bottom:400px;
	/*border: solid red 5px;*/
}

.content-inner { /*styling for things inside content box*/
	color:white;
	font-size:2em;
}

.title-content {
	position:relative;
	margin-top:0px;
	font-family: 'Aldrich';
	color:#e854ff;
	text-align:left;
	font-size:5em;
	text-shadow: 0 0 5px purple, 0 0 10px purple, 0 0 15px purple, 0 0 40px #ff00aa, 0 0 70px #ff00aa;
	margin-left:20px;
}

.title-content-center {
	position:relative;
	margin-top:50px;
	font-family: 'Aldrich';
	color:#e854ff;
	text-align:center;
	font-size:5em;
	text-shadow: 0 0 5px purple, 0 0 10px purple, 0 0 15px purple, 0 0 40px #ff00aa, 0 0 70px #ff00aa;
	margin-left:20px;
}

.title-content-main {
	font-size:8em;
	text-align:center;
	margin-top:50px;
	transition: font-size 2s;
}

@media only screen and (max-width: 828px) {
	.navbar {

	}
}
