a {
	text-decoration: none;
}

.posts-box {
	background-color:black;
	color:white;
	width:100%;
	height:600px;
	padding-bottom:400px;

	margin-left:0;
	margin-top:0;

	margin-bottom:100px;
}

.post-overlay {
	position:absolute;
}

.overlay-frame {

}

.post-text {
	position:absolute;
	font-size: 2rem;
	z-index: 999;
	color:white;
	left:25vh;
}

.title-post {
	left:96vh;
	z-index: 99;
	font-size: 3rem;
	position:absolute;
	color:white;
}

.slider {
  position: relative;
	background:black;
	text-align:left;
	width:100%;
	margin:auto;
	height:78vh;
	margin-top:35px;
}

.posts {
  height:inherit;
	max-height: 100%;

}

.post_image {
  display:none;
  position:absolute;
  object-fit: cover;
  top:0px;
  max-width: 100%;
  width:100%;
  height:100%;
	border-radius: 10px;
}

.visible {
  display:block;
}

.slider_buttons {
  position:absolute;
  background-color:gray;
  opacity:0.5;
  top:45%;
  font-weight: bold;
  font-size: 50px;
  padding:20px;
  cursor: pointer;
}

.slider_buttons:hover {
  transition: 0.6s ease;
  opacity:1.0;
}

.next {
  border-radius: 10px 0 0 10px;
  right: 0;
}

.prev {
  border-radius: 0 10px 10px 0;
}


/*below probs not needed anymore*/
