<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/main.css"></link>
	<link rel="stylesheet" type="text/css" href="css/slider.css"></link>
	<link rel="stylesheet" type="text/css" href="css/index.css"></link>
	<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'></link>
	<link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'></link>
	<script type="text/javascript" src="js/slider.js" async = "async"></script>
  </head>
  <body>
    {{{body}}}
	
	
  </body>
</html>