<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css"></link>
	<link rel="stylesheet" type="text/css" href="css/login.css"></link>
	<link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'></link>
	<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'></link>
</head>
<body>
  {{{ body }}}
</body>
</html>
