<div class="main-title-box">
  <div class = "">
      <img src="images/comment_text.png" alt="main_text" class="page_title_text" />
  </div>
</div>

{{> navbar user=userLoggedIn.name }}

{{#if error }}
  <h1 class = "error-message">{{this.errormessage}}</h1>
{{/if}}

<div class="content-box">
  <h4 class="title-content title-content-main" id="comments-title">Leave Your Thoughts</h4>
  <div class="comments-form-box">
    <form action="/comments/submit_comment" class="comments-form" method="POST">

      <label for="content" class="form-label">COMMENT</label><br />
      <input type = "text" name = "content" value="comment default" class="comments-form-input" required></input>

      <input type = "submit" value = "submit" class="form-submit"></input>
    </form>
  </div>
</div>

<div class="content-box">
  <h4 class="title-content title-content-main">Look at Reviews</h4>

  <div class="comments-box">
      <p class="comment-username">ana_yodud333</p>
      <p class="comment-time">6/9/20, 3:04:07 AM</p></br>
      <p class="comment-content">i think i'll be dreaming of text adventure games forever</p></br>
  </div>
  
  <div class="comments-box">
      <p class="comment-username">amyyy</p>
      <p class="comment-time">6/6/20, 3:04:07 AM</p></br>
      <p class="comment-content"> stackOverflow === <3 </p></br>
  </div>
  
  <div class="comments-box">
      <p class="comment-username">Sarah_the_mum</p>
      <p class="comment-time">6/8/20, 5:30:05 PM</p></br>
      <p class="comment-content">omg PLAY is the best! I only wish that I could beat the last level!! any tips?</p></br>
  </div>
  
  <div class="comments-box">
      <p class="comment-username">grace_kittie96</p>
      <p class="comment-time">6/6/20, 5:30:05 PM</p></br>
      <p class="comment-content">This game is so DANK, makes me want to stop spending all my time with my cats!</p></br>
  </div>
  
   <div class="comments-box">
      <p class="comment-username">twirllison</p>
      <p class="comment-time">6/6/20, 11:10:07 AM</p></br>
      <p class="comment-content">stealing a swedish bike has never been more fun!</p></br>
  </div>
  
  <div class="comments-box">
      <p class="comment-username">davidude</p>
      <p class="comment-time">6/5/20, 2:21:07 PM</p></br>
      <p class="comment-content">all the new products are actually AMAZING, it makes quarantine SO much better when i have this game to play!</p></br>
  </div>
  
   

</div>



{{> footer }}
