<div class="main-title-box">
  <div class = "">
      <img src="images/download_text.png" alt="main_text" class="page_title_text" />
  </div>
</div>

{{> navbar user=userLoggedIn.name }}

{{#if error }}
  <h1 class = "error-message">{{this.errormessage}}</h1>
{{/if}}

{{#unless error}}
<h4 class="title-content" id="downloads-title"></h4> <!--this needs to be empty for navbar select script to work-->
<div class="dropdown">
  <button class="dropbtn">SORT</button>
  <div class="dropdown-content">
    <a href="/downloads/lowtohigh">Price Low to High</a>
    <a href="/downloads/hightolow">Price High to Low</a>
    <a href="/downloads/all">View All</a>
    <a href="/downloads/">Select Category</a>
  </div>
</div>
{{/unless}}

 <h1 class = "error-message">PLEASE NOTE: The database is not currently linked to this website, and so 
 all products and categories are rendered statically below (any links will not work). Sorry for any inconvencience!</h1>



{{#if category}}
<h4 class="title-content-center" id="downloads-title">Categories</h4>
{{/if}}

{{#if downloads}}
<h4 class="title-content-center">Downloads</h4>
{{/if}}

<h4 class="title-content-center" id="downloads-title">Categories</h4>
<div class="content-box downloads-container">
<div class="category-box">
  <div class="comments-box-inner">
    <a href="/downloads{{this.url}}" ><p class="category-name title-content">Backgrounds</p></br></a>
    <p class="category-description">Spice up your experience by buying your own background!</p></br>
  </div>
</div>

<div class="category-box">
  <div class="comments-box-inner">
    <a href="/downloads{{this.url}}" ><p class="category-name title-content">Animations</p></br></a>
    <p class="category-description">Add animations to the game to make it your own!</p></br>
  </div>
</div>
</div>

<h4 class="title-content-center">Downloads</h4>

<div class="content-box downloads-container">
<div class = "downloads-box-box">
  <div class="downloads-box">
      <p class="downloads-name title-content">Ocean Textures</p></br>
      <img class="downloads-image" src="images/comingsoon.png"  alt=" " /></br>
      <p class="downloads-description">Bring the beach to your game with ocean textures in the background! This is a 
      package of 92 ocean materials.</p></br>
      <p class="downloads-price">$10.00</p></br>
      <button type="submit" class="downloads-submit">Add to Basket</button></a>
  </div>
</div>

<div class = "downloads-box-box">
  <div class="downloads-box">
      <p class="downloads-name title-content">Sci-Fi Textures</p></br>
      <img class="downloads-image" src="images/comingsoon.png"  alt=" " /></br>
      <p class="downloads-description">Give your game a Sci-Fi feel with this pack of 82 Sci-Fi backgrounds!</p></br>
      <p class="downloads-price">$10.00</p></br>
      <button type="submit" class="downloads-submit">Add to Basket</button></a>
  </div>
</div>

<div class = "downloads-box-box">
  <div class="downloads-box">
      <p class="downloads-name title-content">RGB Character</p></br>
      <img class="downloads-image" src="images/comingsoon.png"  alt=" " /></br>
      <p class="downloads-description">Add some realistic animations to your game with this basic character pack 
      filled with 53 new animations.</p></br>
      <p class="downloads-price">$20.00</p></br>
      <button type="submit" class="downloads-submit">Add to Basket</button></a>
  </div>
</div>

<div class = "downloads-box-box">
  <div class="downloads-box">
      <p class="downloads-name title-content">Flying Animations</p></br>
      <img class="downloads-image" src="images/comingsoon.png"  alt=" " /></br>
      <p class="downloads-description">This pack is the perfect addition for your game if you want to reach new heights!</p></br>
      <p class="downloads-price">$17.00</p></br>
      <button type="submit" class="downloads-submit">Add to Basket</button></a>
  </div>
</div>
</div>

{{> footer }}
