<div class="main-title-box">
  <div class = "">
      <img src="images/login_text.png" alt="main_text" class="page_title_text" />
  </div>
</div>

{{> navbar }}

<div class="content-box" id="sign_in">
  <h4 class="title-content title-content-main">Enter The Game</h4>

  <form class="login-form">
    <h2>LOGIN</h2>
    <label for="username" class="form-label">username:</label><br />
    <input type="text" id="user" name="fname" value="USERNAME" class="form-input"></input><br />

    <label for="pass" class="form-label">password</label><br />
    <input type="text" id="password" name="lname" value="*******" class="form-input"></input><br />

    <input type="submit" value="Submit" class="form-submit"></input>
  </form>

  <p class="content-inner">Don't have an account?</p>
  <h2>REGISTER</h2>
</div>

{{> footer }}
