<div class="main-title-box">
  <div class = "">
      <img src="images/play_text.png" alt="main_text" class="page_title_text" />
  </div>
</div>

{{> navbar }}

<div class="content-box" id="content0">
  <p class="content-inner">Here at PLAY we know that your privacy is important, and we
    care about how your information is used and shared online. We only collect data and use that
    information in a way that benefits you, and is compliant with the General Data Protect
    Regulation (GDPR) and the Data Protection Act (DPA 2018).</p>
</div>

<div class="content-box" id="content1">
  <h4 class="title-content">What information do we collect?</h4>
  <p class="content-inner">We only collect the information provided when you register for an account on our
    website.</p>
  <p class="content-inner">Website usage information is collected using cookies.</p>
</div>

<div class="content-box" id="content2">
  <h4 class="title-content">How do we store your data?</h4>
  <p class="content-inner">We only keep your information so long as we maintain the valid legal reason to do so, or
    as long as we have your permission to keep it.</p>
  <p class="content-inner">We take steps to ensure that your data is protected by encrypting your data on our
    website and application. Our website is hosted in the UK.</p>
</div>

<div class="content-box" id="content2">
  <h4 class="title-content">Cookies</h4>
  <p class="content-inner">We use cookies to track visitor usage to our website. You can chose to not accept
  cookies in your browser, and remove them from your browser. If you do however, certain features on our website
will not function as a result. </p>
</div>

<div class="content-box" id="content2">
  <h4 class="title-content">Our privacy policy</h4>
  <p class="content-inner">This policy was last updated on June 3d 2020. If you have any questions regarding the
  use of your data, please email us at ac16888@bristol.ac.uk or ge19548@bristol.ac.uk. </p>
</div>

{{> footer }}
