#content0 {
	/*background-image: url('../image/content2.png');*/
	background-color:black;
	background-size:100%;
	background-attachment:fixed;
}

#content1 {
	background-image: url('../images/content1.png');
	background-size: cover;
	background-attachment:fixed;
}

#content2 {
	background-color:black;
	background-size:100% 100%;
	background-attachment:fixed;
}

.content-image {
	width:35%;
	margin-left:30px;
}
