body {
	background: black;
	font-family: 'Allerta Stencil';
}

.copywrite {
	color:white;
	background-color:black;
	width:100%;
	height:150px;
	margin-top:-16px;
}

.legal_links {
	list-style-type: none;
	float: right;
}

.title-box {
	background:white;
	padding:150px;
	margin-top:50px;
	margin-bottom:50px;
}

.title-main {
	color: hotpink;
	font-size: 300px;
	margin: auto;
	text-align:center;

}


.image_frame {
	border:solid red 10px;
	position: absolute;
}

.page_title_text {
	display: block;
	position: absolute;
	max-height: 100%;
	max-width:100%;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}

.main-title-box {
	background-image: url("../images/background.png");
	background-size: cover;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	position:relative;
	max-width: 100%;
	max-height: 100%;
	width:100%;
	height:1000px;
}

.menu_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
	background-color:#1f0036;
	color:#672bb7;
	padding:25px;
	margin-top:15px;
	text-align:center;
	font-family: 'Allerta Stencil';
}

.menu_link { /*remove ugly underlines from links*/
	text-decoration: none;
}

.menu_item {
	color:#e854ff;
	font-size: 20px;
	display:inline;
	padding:25px;
	margin:-2px;
	margin-left:-7px;
	border-right:5px solid black;
	border-left:5px solid black;
	text-shadow: 0 0 5px purple, 0 0 10px purple, 0 0 15px purple, 0 0 40px #ff00aa, 0 0 70px #ff00aa;
}

.menu_item_selected {
	background-color:#ff2bf1;
	color:black;
	text-shadow: none;
}

.menu_item:hover {
	background-color:#ff2bf1;
	color:black;
	text-shadow: none;
	transition: background-color 1s;
}

.content-box {
	color:blue;
	width:100%;
	height:500px;
	padding-bottom:400px;

}

.title-content {
	color:hotpink;
	text-align:left;
	font-size:5em;
	font-family: 'Allerta Stencil';
	text-shadow:#5c0037 -5px 5px 3px;
	margin-left:20px;
}

#content0 {
	background-image: url('https://wallpapercave.com/wp/QNQaTlD.jpg');
	background-size:100% 100%;
	background-attachment:fixed;
}

#content1 {
	background: black;
	background-size:100% 100%;
}

#content2 {
	background-image: url('https://wallpaperplay.com/walls/full/1/5/d/104387.jpg');
	background-size:100% 100%;
	background-attachment:fixed;
}

.content-image {
	width:35%;
	margin-left:30px;
}
