<div class="main-title-box">
  <div class = "">
      <img src="images/play_text.png" alt="main_text" class="page_title_text" />
  </div>
  <div class="quote-container">
    <h4 class="quote">Random quote here!</h4>
  </div>
</div>

{{> navbar }}

<div class="content-box" id="404">
  <h4 class="404">ERROR 404: Page Not Found</h4> </div>

{{> footer }}
