<div class="main-title-box">
  <div class = "">
      <img src="images/demo_text.png" alt="main_text" class="page_title_text" />
  </div>
</div>

{{> navbar user=userLoggedIn.name }}

<div class="content-box">
  <h4 class="title-content title-content-main" id="demo-title">Get Your Head In The Game</h4>

  <div class = "demo-outer-box">
    <div class = "demo-outer-screen">
      <div class = "demo-inner-screen">
        <div class = "text">
          <p class="welcome-text animate">Welcome to P L A Y</p>
          <p class="welcome-text fade-in">

/       \ /  |       /      \ /  \    /  |
$$$$$$$  |$$ |      /$$$$$$  |$$  \  /$$/
$$ |__$$ |$$ |      $$ |__$$ | $$  \/$$/
$$    $$/ $$ |      $$    $$ |  $$  $$/
$$$$$$$/  $$ |      $$$$$$$$ |   $$$$/
$$ |      $$ |_____ $$ |  $$ |    $$ |
$$ |      $$       |$$ |  $$ |    $$ |
$$/       $$$$$$$$/ $$/   $$/     $$/


          </p>
          <input value="type here!" name="demo-input" class="demo-input-form" onkeypress="alert('hax!!!')"></input>
        </div>
      </div>
    </div>
  </div>

</div>

{{> footer }}
