<div class="main-title-box">
  <div class = "">
      <img src="images/download_text.png" alt="main_text" class="page_title_text" />
  </div>
</div>

{{> navbar }}

<div class="content-box" id="sign_in">
  <h4 class="title-content title-content-main">Upgrade Your Assets</h4>


</div>



{{> footer }}
