<div class="main-title-box">
  <div class = "">
      <img src="images/play_text.png" alt="main_text" class="page_title_text" />
  </div>
  <div class="quote-container">
    <h4 class="quote">Random quote here!</h4>
  </div>
</div>

{{> navbar }}

<div class="content-box" id="error">
  <p class="title-error">ERROR</p></br>
  <p class="error-type">{{ this.error }}</p></br>
  <p class="error-content">{{ this.errorMessage }}</p></br>

{{> footer }}
