<div class="main-title-box">
  <div class = "">
      <img src="images/play_text.png" alt="main_text" class="page_title_text" />
  </div>
</div>

{{> navbar basketPage=false}}


<div class="content-box" id="content1">
  <h4 class="title-content">Why PLAY?</h4>
  <p class="content-inner">PLAY was born out of the idea of bring back the retro love of the 80s,
    and text adventure games.</p>
</div>

<div class="content-box" id="content2">
  <h4 class="title-content">Who are we?</h4>
  <p class="content-inner">We're two students at the University of Bristol, who love the 80s and love
    text adventure games. PLAY is garaunteed to keep you entertained, hopefully as much as we have
  enjoyed making it.</p>
</div>

<div class="content-box" id="content2">
  <h4 class="title-content">How did we decided on this product?</h4>
  <p class="content-inner">A common theme through our masters course has been text adventure games, and we both love the style of the 
  80s - so we decided to combine them! Being best friends also helped to make sure that this game, and website, came across just 
  as we wanted!</p>
</div>


{{> footer }}
