	<div class="main-title-box">
		<div class = "">
				<img src="images/products_text.png" alt="main_text" class="page_title_text" />
		</div>
	</div>

	{{> navbar user=userLoggedIn.name basketPage=true}}

	{{#if error }}
	  <h1 class = "error-message">{{this.errormessage}}</h1>
	{{/if}}

	<div class="content-box" id="products_pricing">
		<h4 class="title-content title-content-main" id="products-title">Choose to win. Choose PLAY</h4>

		<div class="content-inner box-text-styling">
			<p>Check out our available products now!</p>
			<p>We offer a range of flexible pricing plans for your needs as a developer.
			We are currently trialing a beta community free version, with older software
			and no technical team support. Same great features, but flying solo.</p>

		</div>
	</div>

	<div class="content-box" id = "product1">
		<h4 class="title-content">Community Edition [BETA]</h4>
		<div class="content-inner box-text-styling">
			<div id="community-edition-text">
			<p>0$/month</p>
			<p>We wanted to provide the creative open source community with the same
			powerful tools, and now we have!</p>
			<p>Contains:</p>
			<ul>
				<li>One freshly grown and harvested PLAY game engine and IDE</li>
				<li>A PDF development guide</li>
				<li>The power and freedom to develop text adventure games with our amazing engine</li>
			</ul>
			<button type="submit" class="form-submit"><a  href="/products/add_product/5">Add to Basket</a></button>
			</div>
		</div>
	</div>

	<div class="content-box" id = "product2">
		<h4 class="title-content">Personal Edition</h4>
		<div class="content-inner box-text-styling">
			<p>5$/month</p>
			<p>For single/small team developers this plan provides a compromise between the outstanding
			technical support provided by the PLAY team, and coming at a reasonable pricetag.</p>
			<p>This payment option is only available to teams with less than 5 people, and an annual company
			income lower than 500,000 per year.</p>
			<p>In addition to the previous plan's features contains:</p>
			<ul>
				<li>Access to our admin support ticket system</li>
				<li>Free asset pack on download</li>
				<li>Access to our learning environment, with tutorials and guides for all your development needs</li>
			</ul>
			<button type="submit" class="form-submit"><a  href="/products/add_product/4">Add to Basket</a></button>
		</div>
	</div>

	<div class="content-box" id = "product3">
		<h4 class="title-content">Pro Edition</h4>
		<div class="content-inner box-text-styling">
			<p>50$/month</p>
			<p>For teams larger than 5 people or those earning over 5 billion per year from use of our license.
			</p>
			<p>In addition to the previous plan's features contains:</p>
			<ul>
				<li>You will have on-call 24 hour support from our admin staff</li>
				<li>4 asset packs of your choosing</li>
			</ul>
			<button type="submit" class="form-submit basketbtn"><a  href="/products/add_product/6">Add to Basket</a></button>
		</div>
	</div>

	<div class="content-box" id = "product4">
		<h4 class="title-content">Student Edition</h4>
		<div class="content-inner box-text-styling">
			<p>10$/month</p>
			<p>For students all over the world.</p>
			<p>You will be required to sign up with a valid institution email, and will gain all of the excellent
			features of the PRO VERSION, for a quarter of the price.</p>
			<button type="submit" class="form-submit basketbtn"><a  href="/products/add_product/7">Add to Basket</a></button>
		</div>
	</div>

	<div class="content-box" id = "product5">
		<h4 class="title-content">Assets Pack</h4>
		<div class="content-inner box-text-styling">
			<p>Variable</p>
			<p>Visit our downloads page for the following:</p>
			<ul>
				<li>Backgrounds</li>
				<li>Models</li>
				<li>Sprites</li>
				<li>Graphics</li>
				<li><a href="/downloads">... and so much more</a></li>
			</ul>
		</div>
	</div>

	{{> footer }}
