<div class="copywrite">
		<div class="legal_links-box">
			<ul class="legal_links">
				<li><a href="#">so we don't get sued</a></li>
				<li><a href="#">more sued</a></li>
				<li><a href="#">even more sued</a></li>
			</ul>
			<p>Full copywright info goes here</p>
		</div>
</div>
