<div class="copywrite">
		<div class="legal_links-box">
			<ul class="legal_links">
				<li><a href="/faq">FAQ</a></li>
				<li><a href="/terms">TERMS AND CONDITIONS</a></li>
				<li><a href="/policy">PRIVACY POLICY</a></li>
			</ul>
			<p>Copyright © 2020 ac16888 ge19548. All Rights Reserved.</p>
		</div>
</div>
