<div class="menu_box">
		<div class="nav_menu">
			<ul class="menu_list">
				<li class="menu_item menu_item_selected">
					<img src="images/icons/home.svg" alt="home icon"><a href="/">HOME</a>
				</li>
				<li class="menu_item"><a href="/demo">DEMO</a></li>
				<li class="menu_item"><a href="/comments">COMMENTS</a></li>
				<li class="menu_item">
					<img src="images/icons/shoppingCart.svg" alt="shopping icon"><a href="/products">PRODUCTS</a>
				</li>
				<li class="menu_item"><a href="/downloads">DOWNLOADS</a></li>
				<li class="menu_item"><a href="/login">SIGN-IN</a></li>
			</ul>
		</div>
</div>
