<div class="menu_box">
		<div class="nav_menu">
			<ul class="menu_list">
				<li class="menu_item" id="index-menu">
					<img src="images/icons/home.svg" alt="home icon" class="icons"><a href="/">HOME</a>
				</li>
				<li class="menu_item" id="demo-menu">
					<img src="images/icons/game.svg" alt="home icon" class="icons"><a href="/demo">DEMO</a>
				</li>
				<li class="menu_item" id="comments-menu"><a href="/comments">COMMENTS</a></li>
				<li class="menu_item" id="products-menu">
					<img src="images/icons/shoppingcart.svg" alt="shopping icon" class="icons"><a href="/products">PRODUCTS</a>
				</li>
				<li class="menu_item" id="downloads-menu"><a href="/downloads">DOWNLOADS</a></li>
				<li class="menu_item" id="login-menu"><a href="/login">SIGN-IN</a></li>
			</ul>
			{{#if userLoggedIn }}
				<h4 class="title-content">hello {{ user }}</h4>
			{{/if}}
		</div>
</div>
