<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/products.css">
		<link href='https://fonts.googleapis.com/css?family=Allerta%20Stencil' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
		<title>P L A Y - C O M M E N T S</title>
		<meta charset="UTF-8"/>
	</head>
	<body>

		{{{body}}}

	</body>
</html>
