<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/demo.css">
		<link href='https://fonts.googleapis.com/css?family=Allerta%20Stencil' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=DM%20Mono' rel='stylesheet'>
    <script type="text/javascript" src="js/gameMain.js" async = "async"></script>
		<script type="text/javascript" src="js/navbar-select.js" async = "async"></script>
		<script type="text/javascript" src="js/demo_submit.js" async = "async"></script>
		<title>P L A Y - D E M O</title>
		<meta charset="UTF-8"/>
	</head>
	<body>

		{{{body}}}

	</body>
</html>
